[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1B00010AA8943BAF40B3685CC52000F5-if00
##--------------------------------------------------------------------

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000             #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

# Extra hardware
[include hardware/*.cfg]

[exclude_object]

[pause_resume]

# MainsailOS specifics
[include mainsail.cfg]

# Utility macros
[include macros/*.cfg]

# bed mesh
[include mesh.cfg]

# KAMP
[include ./KAMP_Settings.cfg]
[include ./KAMP/Adaptive_Meshing.cfg]
[include ./KAMP/Line_Purge.cfg]
[include ./KAMP/Voron_Purge.cfg]
[include ./KAMP/Smart_Park.cfg]

[respond]

[force_move]
enable_force_move: True

[change_nozzle]

[idle_timeout]
timeout: 1800
gcode:
  {% if printer.pause_resume.is_paused %}
    RESPOND TYPE=command MSG='Cooling down hotend due to paused print...'
    M104 S0
  {% else %}
    RESPOND TYPE=command MSG='Shutting off heaters and motors due to idle timeout...'
    TURN_OFF_HEATERS
    M84
  {% endif %}

#####################################################################

# Raspberry PI cpu temperature
[temperature_sensor raspberry_pi]
sensor_type: temperature_host

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  Connected to X on mcu_xye (B Motor)
[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: -13
position_endstop: -13
position_max: 225
homing_speed: 25   #Max 100
homing_retract_dist: 0
homing_positive_dir: false

[tmc5160 stepper_x]
cs_pin: P1.10
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P1.17
spi_software_sclk_pin: P0.4
diag1_pin: ^!P1.29
interpolate: False
run_current: 1.2
hold_current: 0.6
sense_resistor: 0.075
stealthchop_threshold: 0
#driver_IHOLDDELAY: 6
#driver_TPOWERDOWN: 10
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 1
#driver_HSTRT: 4
driver_tpfd: 0
#driver_pwm_autoscale: True
#driver_pwm_autograd: True
#driver_pwm_freq: 2
#driver_PWM_GRAD: 0
#driver_PWM_OFS: 0
#driver_PWM_REG: 0
#driver_PWM_LIM: 0
driver_SGT: 2

##  Connected to Y on mcu_xye (A Motor)
[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: -1
position_endstop: -1
position_max: 220
homing_speed: 25  #Max 100
homing_retract_dist: 0
#homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_y]
cs_pin: P1.9
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P1.17
spi_software_sclk_pin: P0.4
diag1_pin: ^!P1.28
interpolate: False
run_current: 1.2
hold_current: 0.6
sense_resistor: 0.075
stealthchop_threshold: 0
#driver_IHOLDDELAY: 6
#driver_TPOWERDOWN: 10
#driver_TBL: 2
#driver_TOFF: 3
#driver_HEND: 1
#driver_HSTRT: 4
driver_tpfd: 0
#driver_pwm_autoscale: True
#driver_pwm_autograd: True
#driver_pwm_freq: 2
#driver_PWM_GRAD: 0
#driver_PWM_OFS: 0
#driver_PWM_REG: 0
#driver_PWM_LIM: 0
driver_SGT: 2

#####################################################################
#   Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
rotation_distance: 4
full_steps_per_rotation:200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
position_max: 210
position_min: -10
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc5160 stepper_z]
cs_pin: P1.8
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P1.17
spi_software_sclk_pin: P0.4
diag1_pin: P1.27
interpolate: False
run_current: 1
hold_current: 0.4
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_z1]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
rotation_distance: 4
full_steps_per_rotation:200
microsteps: 32

[tmc5160 stepper_z1]
cs_pin: P1.4
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P1.17
spi_software_sclk_pin: P0.4
diag1_pin: P1.26
interpolate: False
run_current: 1
hold_current: 0.4
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_z2]
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
rotation_distance: 4
full_steps_per_rotation:200
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc5160 stepper_z2]
cs_pin: P1.1
spi_software_miso_pin: P0.5
spi_software_mosi_pin: P1.17
spi_software_sclk_pin: P0.4
diag1_pin: P1.25
interpolate: False
run_current: 1
hold_current: 0.4
sense_resistor: 0.075
stealthchop_threshold: 0

#####################################################################
#   Extruder
#####################################################################

#   E0 on MCU X/Y
[extruder]
step_pin: EBB42:PD0
dir_pin: !EBB42:PD1
enable_pin: !EBB42:PD2
##  Update value below when you perform extruder calibration
##  If you ask for 100mm of filament, but in reality it is 98mm:
##  rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.6789511   #Bondtech 5mm Drive Gears
##  Update Gear Ratio depending on your Extruder Type
##  Use 50:10 for Stealthburner/Clockwork 2
##  Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##  Use 80:20 for M4, M3.1
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBB42:PB13
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
#sensor_type:
sensor_type: ATC Semitec 104NT-4-R025H42G # Revo Voron
sensor_pin: EBB42:PA3
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control = pid
pid_kp = 26.213
pid_ki = 1.304
pid_kd = 131.721
##  Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
##  Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 10

[tmc2209 extruder]
uart_pin: EBB42:PA15
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - Z board, Fan Pin
[heater_bed]
heater_pin: P2.5
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for Keenovo heaters
sensor_type: Generic 3950
sensor_pin: P0.25
##  Adjust max_power so it doesn't exceed the SSR rating. The Omron G3NA-210B-DC5 SSR is rated at 4 amps without a heatsink.
##  The formula is "4 / (Wattage_of_bed_heater / Mains_voltage) = max_power"
##  If max_power is greater than 1.0, use 1.0
max_power: 0.5 # 12V bed running on 24V
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################

[bltouch]
sensor_pin: ^EBB42:PB8
control_pin: EBB42:PB9
x_offset: 40
y_offset: 30.76
z_offset: 3.7
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

#####################################################################
#   Fan Control
#####################################################################

##  Hotend Fan - XYE board, HE1 Connector
[heater_fan hotend_fan]
pin: EBB42:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##  Print Cooling Fan - XYE board, Fan Pin
[fan]
pin: EBB42:PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

##  Controller fan - Z board, HE1 Connector
#[heater_fan controller_fan]
#pin: z:P2.4
#kick_start_time: 0.5
#heater: heater_bed
#heater_temp: 45.0

##  Exhaust fan - Z board, HE0 Connector
#[heater_fan exhaust_fan]
#pin: z:P2.7
#max_power: 1.0
#shutdown_speed: 0.0
#kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#####################################################################
#   LED Control
#####################################################################

# Chamber Lighting - Bed Connector (Optional)
#[output_pin caselight]
#pin: P2.5
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

#[safe_z_home]
##  XY Location of the Z Endstop Switch
##  Update -10,-10 to the XY coordinates of your endstop pin 
##  (such as 157,305) after going through Z Endstop Pin
##  Location Definition step.
#home_xy_position: 100, 100
#speed: 50
#z_hop: 10
#z_hop_speed: 5

[z_tilt]
# the point of the motor (or leadscrew)
z_positions:
	275, 207.5
	275, 12.5 
	-25, 110
# probe point (nozzle) / X shift 40, y shift 30
points:
	# 191.5, 211.5
	# 191.5, 16.5
	# 1.5, 114
        175, 185
	175, 1
	1, 80
speed: 100
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.015

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
#[quad_gantry_level]
#--------------------------------------------------------------------
##  Gantry Corners for 250mm Build
##  Uncomment for 250mm build
#gantry_corners:
#   -60,-10
#   310, 320
##  Probe points
#points:
#   50,25
#   50,175
#   200,175
#   200,25
    
##  Gantry Corners for 300mm Build
##  Uncomment for 300mm build
#gantry_corners:
#   -60,-10
#   360,370
##  Probe points
#points:
#   50,25
#   50,225
#   250,225
#   250,25

##  Gantry Corners for 350mm Build
##  Uncomment for 350mm build
#gantry_corners:
#   -60,-10
#   410,420
##  Probe points
#points:
#   50,25
#   50,275
#   300,275
#   300,25

#--------------------------------------------------------------------
#speed: 100
#horizontal_move_z: 10
#retries: 5
#retry_tolerance: 0.0075
#max_adjust: 10

